@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

.nav {
  z-index: 100;
  display: flex;
  background-color: #ecf0f1;
  box-shadow: -1px 2px 5px grey;
  opacity: 0.95;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 11vh;
  .panel_container {
    font-family: "Gugi", sans-serif;
    color: #2d3436;
    opacity: 1;
    font-weight: bold;
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1em;
    // background-color: #dfe6e9;
    padding: 1em;
    margin: 1.3em;
    // border: 3px solid #0984e3;
    // box-shadow: -2px 3px 3px grey;
    .panel_info_1 {
      font-size: 0.8rem;
      min-width: 150px;
      margin-bottom: 3px;
    }
    .panel_info_2 {
      font-size: 1.2rem;
      min-width: 150px;
    }
  }
  .img_container {
    position: relative;
    width: 18vw;
    margin: 1.3em;
    cursor: pointer;
    .circle {
      position: relative;
      background: conic-gradient(white, gray, white, gray, white);
      border-radius: 50%;
      width: 55px;
      height: 52px;
      margin-right: 1.3em;
      border: 1px dashed darkgray;
      box-shadow: -1px 2px 5px grey;
      display: flex;
      justify-content: center;
    }
    .dot {
      z-index: 10;
      margin: 1px;
      height: 4px;
      width: 4px;
      opacity: 0.7;
      background-color: #c0392b;
      border-radius: 50%;
    }
  }
}

.content {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  // height: 100vh;
}

#introduction {
  .canvas-container {
    height: 50vh;
    width: 100vw;
    position: sticky;
    top: 15vh;

    #intro-canvas {
      width: 100%;
      max-width: 400px;
      z-index: 0;
    }
  }
}
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 3rem;
    text-align: center;
  }
}

.intro-p {
  margin: 30px;
  // width: 100vw;
  position: fixed;
  top: 40vh;
  font-weight: bold;
  text-align: left;
  font-size: 1.7rem;
  color: gray;
  strong {
    color: #2d3436;
  }
  .name {
    font-size: 2rem;
  }
}

#techstack {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  color: #999;
  text-align: left;
  .tech-wrapper {
    width: 100%;
    position: fixed;
    top: 30vh;
    padding-left: 10vw;
  }
  .tech-intro {
    margin-bottom: 20px;
  }
  p {
    width: 100%;
    height: 100px;
  }
  .shutter {
    overflow: hidden;
    position: relative;
    height: 50px;
  }
  .tech-container {
    display: inline-block;
    color: #080808;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  }
}

#projects {
  .arrow {
    display: block;
    width: 20px;
    height: 20px;
    border-top: 2.8px solid #1c1918;
    border-right: 2.8px solid #1c1918;
  }

  .arrow-right {
    transform: rotate(45deg);
    &:hover {
      transition: transform 0.2s ease-in, opacity 0.2s ease-in;
      transform: rotate(45deg) translate3D(2px, -2px, 0);
      opacity: 0.5;
    }
  }

  .arrow-left {
    transform: rotate(-135deg);
    &:hover {
      transition: transform 0.2s ease-in, opacity 0.2s ease-in;
      transform: rotate(-135deg) translate3D(2px, -2px, 0);
      opacity: 0.5;
    }
  }

  .projects_container {
    p {
      strong {
        color: #2d3436;
      }
    }
    .mac_container {
      margin: 0 auto;
      width: 100%;
      display: none;
      font-family: system-ui;
    }
    .project_info_container {
      position: fixed;
      top: 15vh;
      height: 80vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .info_arrow_container {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4vw;
        opacity: 0.8;
        top: 50%;
        width: 100%;
        z-index: 1200;

        .arrow {
          border-top: 4px solid gray;
          border-right: 4px solid gray;
          &:hover {
            border-top: 4px solid #080808;
            border-right: 4px solid #080808;
          }
        }
      }
      .info_container {
        width: 100vw;
      }

      .info_content {
        font-family: "Nanum Gothic", sans-serif;
        display: flex;
        position: relative;
        justify-content: space-around;
        align-items: center;
        font-size: 1rem;
        text-align: left;
        font-weight: 700;
        // color: rgb(29, 29, 31);
        color: gray;

        .content_wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin: 14vw;
          z-index: 10;

          .upper_wrapper {
            display: flex;
            width: 100%;
            margin-bottom: 10px;
            .content_link_wrapper {
              font-size: 0.8rem;
              display: flex;
              .link_item {
                a {
                  i {
                    margin-right: 2px;
                    color: #080808;
                  }
                  color: gray;
                  transition: opacity 0.3s ease-in-out;
                  &:hover {
                    color: #080808;
                    text-decoration: none;
                    opacity: 0.8;
                  }
                }
                margin-right: 10px;
              }
            }
            .m_image {
              width: 100%;
              // filter: blur(2px);
              margin-right: 15px;
              opacity: 0.9;
              z-index: 2;
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
              border-radius: 25px;
            }
            .p_image {
              display: none;
            }
            .title {
              margin-bottom: 0.3em;
              font-size: 1.5rem;
            }
            .summary {
              margin-bottom: 0.5em;
              font-size: 1rem;
            }
            .tech_stack_container {
              display: flex;
              flex-wrap: wrap;
              margin-bottom: 0.5em;
              .tech_stack {
                background-color: gray;
                text-align: center;
                color: #ffffff;
                border-radius: 5px;
                padding: 1px 3px;
                margin: 2px;
                font-size: 0.8rem;
              }
            }
            .period {
              margin-bottom: 0.5em;
            }
          }
          strong {
            color: rgb(29, 29, 31);
            font-weight: 800;
          }

          .description {
            text-align: justify;
            margin-bottom: 1em;
          }
        }
      }
    }
  }
}
.line_container {
  height: 100%;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;

  .line {
    margin: 1px;
    border-bottom: 1px solid black;
    height: 0.1px;
    width: 100%;
  }
}

@media (min-width: 750px) {
  .nav {
    height: 120px;
    background-color: transparent;
    box-shadow: none;
    .panel_container {
      width: 20vw;
      margin-left: 10vw;
      margin-right: 50vw;
      .panel_info_1 {
        font-size: 1rem;
      }
      .panel_info_2 {
        font-size: 1.5rem;
      }
    }
    .img_container {
      position: relative;
      width: 10vw;
      height: 100px;
      margin: 0px;
      margin-right: 10vw;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      width: 150px;
    }
  }

  #introduction {
    display: flex;
    justify-content: center;

    .canvas-container {
      height: 50vh;
      width: 100vw;
      position: sticky;
      top: 15vh;
      display: flex;
      justify-content: center;
      align-items: center;

      #intro-canvas {
        margin-right: 50%;
        width: 400px;
        z-index: 0;
      }
    }
    .intro-p {
      // width: 100vw;
      font-size: 2.5rem;
      // padding-left: 10vw;
      // padding-right: 10vw;
      .intro-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .name {
          font-size: 3rem;
        }
      }
    }
    #intro-p-2 {
      text-align: center;
    }
  }

  #techstack {
    display: flex;
    justify-content: center;
    .tech-wrapper {
      padding: 0;
      width: 50vw;
      .tech-intro {
        font-size: 4rem;
        margin: 10px;
      }
    }
  }

  #projects {
    .projects_container {
      width: 100%;
      height: 100%;
      .mac_container {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 8vh;
        color: #1c1918;
        font-size: 2rem;
        .mac_img {
          height: 1000px;
          width: 750px;
          z-index: 1;
        }
        .mac_monitor_container {
          position: relative;
          top: -795px;
          left: 3px;
          height: 331px;
          width: 456px;
          border-radius: 3px;
          background-color: #6f6867;
          z-index: 60;
          -webkit-filter: drop-shadow(2px 2px 15px #f8efba) blur(0.6px);
          .mac_monitor_search {
            position: relative;
            top: -25px;
            width: 80px;
            font-size: 2rem;
            color: #080808;
            border: 2px solid #080808;
            border-radius: 10%;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #e8d9d5;
            opacity: 0.9;
            &:hover {
              transform: scale(1.05);
              transition: opacity 0.2s ease-in;
              opacity: 1;
            }
          }
          .mac_arrow_container {
            position: relative;
            top: -140px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 30px;
          }
          .mac_contents_container {
            margin: 10px;
            height: 250px;
            background-color: #e8d9d5;
            border: 2px solid #080808;
            border-radius: 3%;
            .mac_content {
              width: 100%;
              height: 100%;

              .title {
                display: flex;
                justify-content: space-around;
                font-size: 0.3cm;
                border-bottom: 1px solid #1c1918;
                background-color: gray;
                span {
                  height: 5px;
                  text-align: center;
                  margin: 1px 0;
                  white-space: nowrap;
                }
              }

              .summary {
                text-align: center;
                font-size: 0.5cm;
                margin: auto auto;
                height: 230px;
                width: 432px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .summary_title {
                  font-size: 2rem;
                  margin-bottom: 5px;
                }
                .summary_content {
                  text-align: center;
                  width: 330px;
                  margin: 0 auto;
                  max-height: 150px;
                  font-size: 1.5rem;
                  overflow: scroll;
                  .summary_img {
                    border-radius: 25px;
                  }
                  &::-webkit-scrollbar {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

      .project_info_container {
        position: relative;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease-in-out;
        height: 120%;
        width: 100vw;
        .cover {
          opacity: 0.4;
          width: 100%;
          height: 100%;
          background-color: black;
          z-index: 1000;
        }
        .info_container {
          position: fixed;
          background-color: white;
          opacity: 1;
          top: 20vh;
          width: 80vw;
          height: 50vh;
          z-index: 5000;
          border-radius: 30px;
          // max-width: 1200px;
          .info_content {
            height: 100%;
            // color: rgb(29, 29, 31);
            .content_wrapper {
              justify-content: space-between;
              flex-direction: row;
              align-items: center;
              margin: 5%;
              .upper_wrapper {
                margin-left: 4vw;
                width: 15vw;
                .m_image {
                  display: none;
                }
                .title {
                  font-size: 2vw;
                  margin-bottom: 20%;
                  .line {
                    margin-top: 15px;
                    width: 50%;
                    background-color: rgb(29, 29, 31);
                    border: 2px solid rgb(29, 29, 31);
                    border-radius: 3px;
                  }
                }
                .summary {
                  font-size: 0.9vw;
                }
              }
              .description {
                position: relative;
                height: 40vh;
                width: 50vw;
                margin-right: 4vw;
                margin-left: 2em;
                font-size: 1.4rem;
                overflow: scroll;
                // display: flex;
                // flex-direction: column;
                // justify-content: center;
                &::-webkit-scrollbar {
                  display: none;
                }
                .p_image {
                  width: 100%;
                  height: 50%;
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  margin-bottom: 30px;
                  border-radius: 10px;
                  // border: 1px solid rgb(29, 29, 31);
                  // box-shadow: 10px 5px 5px gray;
                }
              }
            }
          }
        }
        .info_arrow_container {
          position: fixed;
          top: 45vh;
          z-index: 6000;
          .arrow {
            border-top: 4px solid #ecf0f1;
            border-right: 4px solid #ecf0f1;
            &:hover {
              border-top: 4px solid black;
              border-right: 4px solid black;
            }
          }
        }
      }
    }
  }
}
